!!!
head
  title 我的幻灯片???
  meta(charset='utf-8')
  script(src='http://code.jquery.com/jquery.min.js')
  :coffeescript
    jsonp=(url,cb)->
      $.ajax
        url:url
        dataType:'jsonp'
        success:(data)->
          if data.meta.status==200
            cb null,data.data
          else
            cb data.data,null
    jsonp 'https://api.github.com/repos/layerssss/myslides/contents',(err,data)->
      for file in data
        if file.type=='dir'
          ajax=$.ajax
            url:"#{file.name}/"
            success:(data,t,xhr)->
              title=(data.match(/<title>(.*)<\/title>/)||[])[1]
              $("<h2><a href=\"#{xhr.filename}/\">#{title}</a> <a href=\"#{xhr.html_url}/\">view on Github</a></h2>").appendTo 'body'
            error:(xhr)->
              console.log this
              title=xhr.filename
              $("<h2>#{title} <a href=\"#{xhr.html_url}/\">view on Github</a></h2>").appendTo 'body'
          ajax.filename=file.name
          ajax.html_url=file.html_url
body
  h1 我的幻灯片