!!! 5
html(lang='en')
  head
      meta(charset='utf-8')
      title #{title}
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      meta(name="description",content='DESCRIPTION')
      meta(name="keywords",content='KEYWORDS')
      meta(name="author",content='AUTHOR')
      link(rel='stylesheet',href='#{root}/css/bootstrap.css')
      style
        body {
          padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        #github{
          z-index:10000;
          position:fixed;
          left:0;
          top:0;
        }
      link(rel='stylesheet',href='#{root}/css/bootstrap-responsive.css')
  body
    
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#{root}/') #{globals.root.title}
          .nav-collapse.collapse
            ul.nav
              for dir in globals.root.dirs
                li
                  a(href='#{root}#{dir.path}') #{dir.title}
    .container
      artical !{content.replace(/\.md"/g,'.html"')}
      for dir in dirs
        p
          a(href='#{root}#{dir.path}') #{dir.title}
      for file in files
        p
          a(href='#{root}#{file.path}') #{file.title}
      footer
        p
          | © 2012  YOURNAME
    script(src='#{root}/js/jquery.js')
    script(src='#{root}/js/bootstrap.js')
    script(src='#{root}/js/modernizr.js')
    a(id="github",href="https://github.com/layerssss/markem/blob/master#{pathSource}")
      img(src="http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png",alt="Fork me on GitHub")