!!! 5
html
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=1024, user-scalable=no')
    title #{title}
    //
       Required stylesheet 
    link(rel='stylesheet', href='#{root}/core/deck.core.css')
    //
       Extension CSS files go here. Remove or add as needed. 
    link(rel='stylesheet', href='#{root}/extensions/goto/deck.goto.css')
    link(rel='stylesheet', href='#{root}/extensions/menu/deck.menu.css')
    link(rel='stylesheet', href='#{root}/extensions/navigation/deck.navigation.css')
    link(rel='stylesheet', href='#{root}/extensions/status/deck.status.css')
    link(rel='stylesheet', href='#{root}/extensions/hash/deck.hash.css')
    link(rel='stylesheet', href='#{root}/extensions/scale/deck.scale.css')
    //
       Style theme. More available in /themes/style/ or create your own. 
    link(rel='stylesheet', href='#{root}/themes/style/swiss.css')
    //
       Transition theme. More available in /themes/transition/ or create your own. 
    link(rel='stylesheet', href='#{root}/themes/transition/horizontal-slide.css')
    //
       Required Modernizr file 
    script(src='#{root}/modernizr.custom.js')
  body.deck-container
    //
       Begin slides. Just make elements with a class of slide. 
    section.slide
      h2 #{title}
      div!=content.replace(/<h1>(.*)<\/h1>/g,'').replace(/<h2>(.*)<\/h2>/g,'<h3>$1</h3>').replace(/<li>/g,'<li class="slide">')
    for document in files
      section.slide
        h2 #{document.title}
        div!=document.content.replace(/<h1>(.*)<\/h1>/g,'').replace(/<h2>(.*)<\/h2>/g,'<h3>$1</h3>').replace(/<li>/g,'<li class="slide">')
    section.slide
      h2 More..
      ul
        for document in dirs
          li
            a(href='#{root}#{document.path}') #{document.title}
        if parent
          li
            a(href='#{root}#{parent.path}') [../]#{parent.title}

    //
       End slides. 
    //
       Begin extension snippets. Add or remove as needed. 
    //
       deck.navigation snippet 
    a.deck-prev-link(href='#', title='Previous') ←
    a.deck-next-link(href='#', title='Next') →
    //
       deck.status snippet 
    p.deck-status
      span.deck-status-current
      | /
      span.deck-status-total
    //
       deck.goto snippet 
    form.goto-form(action='.', method='get')
      label(for='goto-slide') Go to slide:
      input#goto-slide(type='text', name='slidenum', list='goto-datalist')
      datalist#goto-datalist
      input(type='submit', value='Go')
    //
       deck.hash snippet 
    a.deck-permalink(href='.', title='Permalink to this slide') #
    //
       End extension snippets. 
    //
       Required JS files. 
    script(src='#{root}/jquery-1.7.2.min.js')
    script(src='#{root}/core/deck.core.js')
    //
       Extension JS files. Add or remove as needed. 
    script(src='#{root}/core/deck.core.js')
    script(src='#{root}/extensions/hash/deck.hash.js')
    script(src='#{root}/extensions/menu/deck.menu.js')
    script(src='#{root}/extensions/goto/deck.goto.js')
    script(src='#{root}/extensions/status/deck.status.js')
    script(src='#{root}/extensions/navigation/deck.navigation.js')
    script(src='#{root}/extensions/scale/deck.scale.js')
    //
       Initialize the deck. You can put this in an external file if desired. 
    script
      $(function() {
      $.deck('.slide');
      });
